.box {
  border-radius: 3.5px;
  background-color: var(--gerent-uploader-background-color);
  background-image: repeating-linear-gradient(
      0deg,
      var(--gerent-uploader-border-color),
      var(--gerent-uploader-border-color) 7px,
      transparent 7px,
      transparent 14px,
      var(--gerent-uploader-border-color) 14px
    ),
    repeating-linear-gradient(
      90deg,
      var(--gerent-uploader-border-color),
      var(--gerent-uploader-border-color) 7px,
      transparent 7px,
      transparent 14px,
      var(--gerent-uploader-border-color) 14px
    ),
    repeating-linear-gradient(
      180deg,
      var(--gerent-uploader-border-color),
      var(--gerent-uploader-border-color) 7px,
      transparent 7px,
      transparent 14px,
      var(--gerent-uploader-border-color) 14px
    ),
    repeating-linear-gradient(
      270deg,
      var(--gerent-uploader-border-color),
      var(--gerent-uploader-border-color) 7px,
      transparent 7px,
      transparent 14px,
      var(--gerent-uploader-border-color) 14px
    );
  background-size: 1px calc(100% + 14px), calc(100% + 14px) 1px,
    1px calc(100% + 14px), calc(100% + 14px) 1px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;
}

.box-animate {
  animation: borderAnimation 0.5s infinite linear;
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -14px 0, 100% -14px, 0 100%;
  }
  to {
    background-position: 0 -14px, 0 0, 100% 0, -14px 100%;
  }
}
