.flex-col {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.loading-icon {
  animation: spin 5s linear infinite;
}

.badge {
  position: relative;
  top: 2px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
